* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
}

#logo-img {
  width: 500px;
  height: 150px;

}

.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.grid div.coin {
  background-image: url('../assets/coin.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.mario {
  background-image: url('../assets/mario-img.png');
  background-repeat: no-repeat;
  background-size: contain;
}