* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-image: url('../assets/bg-image.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Patrick Hand', cursive;
}

/* HEADER */
header {
  /* display: flex;
  /* justify-content: center; */
  /* align-items: center;
  flex-direction: column;
  width: 100%;  */
  /* height: 20%; */
}

.heading-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

h1 {
  text-align: center;
  font-size: 70px;
  font-family: 'ZCOOL KuaiLe', cursive;
}

.display-board{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid green;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  animation: blink 3s;
}

main {
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
  align-content: center;
  /* flex-wrap: wrap; */
  /* height: 100vh; */
}

/* RULES */
.rules {
  align-items: center;
  margin-left: 30px;
  height: 20vh;
  width: 30vw;
  color: white;
}
.rules h2 {
  font-size: 35px;
  font-weight: bold;
}

.rules p {
  font-size: 20px;
}

.rules li {
  font-size: 19px;
}

#points {
  color: yellow;
}

/* GRID */
.grid-wrapper {
  flex-grow: 1;
  height: 55vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 3);
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.treat {
  background-image: url('../assets/treat-2.jpeg');
  background-size: 50px;
  background-position: center;
}
.grid div.dog {
  background-image: url('../assets/dog.jpeg');
  background-size: 63px;
}
.grid div.hoover {
  background-image: url('../assets/hoover.jpeg');
}
/* .grid div.hetty {
  background-image: url('../assets/hetty.jpeg');
} */
.grid div.blink{
  animation: blink 1s infinite;
}
.grid div.fence {
  background-image: url('../assets/fence-2.png');
}
.grid div.ball {
  background-image: url('../assets/ball.gif');
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}